name: pod release
run-name: Deploy datahike pod to pod-registry
on:
  schedule:
    - cron: 00 06 * * *

jobs:
  pod_release:
    runs-on: ubuntu-slim
    steps:
      - name: check out babashka pod-registry
        uses: actions/checkout@v6
        with:
          repository: 'babashka/pod-registry'
          ref: 'master'
      - name: Check if new release
        id: release
        run: |
          #!/usr/bin/env bash

          set -o errexit
          set -o pipefail
          set -o nounset

          latest_published="$(
            find manifests/replikativ/datahike -mindepth 1 -maxdepth 1 -type d -printf '%f\n' \
            | sort -V \
            | tail -n1
          )"

          # latest released version from GitHub
          latest_released="$(
            curl -fsSL https://api.github.com/repos/replikativ/datahike/releases/latest \
            | jq -r '.tag_name'
          )"

          if [[ "$(printf '%s\n' "$latest_published" "$latest_released" | sort -V | head -n1)" != "$latest_released" ]]; then
            echo "release=true" >> $GITHUB_OUTPUT
          else
            echo "release=false" >> $GITHUB_OUTPUT
          fi
      - name: stop pipeline when no new release
        if: steps.release.outputs.release != 'true'
        run: |
          echo "Pipeline does not need to run because there is no new release"
      - name: check out datahike
        if: steps.release.outputs.release == 'true'
        uses: actions/checkout@v6
        with:
          repository: 'replikativ/datahike'
          ref: 'main'
          path: datahike
      - name: install clojure tools
        if: steps.release.outputs.release == 'true'
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          bb: 1.12.214
      - name: run release script
        if: steps.release.outputs.release == 'true'
        run: |
          cd datahike
          bb release pod
